@{
    ViewData["Title"] = "Listagem De Contatos ";
}
<h1 class="display-4">Listagem De Contatos</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Celular</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Thalison</td>
            <td>Otto@hotmail.com</td>
            <td>81 9397-3496</td>
            <td>
                <div class="btn-group" role="group">
                    <a role class="btn btn-primary">Editar</a>
                    <a role class="btn btn-danger">Apagar</a>                    
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Elisa</td>
            <td>Thornton@hotmail.com</td>
            <td>81 99475-3930</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Theo</td>
            <td>Doe@hotmail.com</td>
            <td>81 99898-1295</td>
        </tr>
    </tbody>
</table>
